//import bootstrap
@use "../node_modules/bootstrap/scss/bootstrap.scss";

//variable que uso
$bg-purple: #7036BA;
$font: "Roboto", sans-serif;

h1, h2, h3, h4, h5 ,h6, li, a{
   font-family: $font;
}

li{
 font-weight: 200;
}

.btn-primary{
   font-family: $font;
   font-weight: 500;
   font-size: 20px;
   background-color: #00BFB4 !important;
}

section{
   &.bg-primary{
      background-color: $bg-purple !important;
   }
   .titulo{
      margin: 220px 0;
      @media all and (min-width: 1500px) {
         padding-left: 750px;
      }
   }
}