//import bootstrap
@use "../node_modules/bootstrap/scss/bootstrap.scss";

//variable que uso
$bg-purple: #7036BA;

h1, h2, h3, h4, h5 ,h6{
   font-family: "Roboto", sans-serif;
}

section{
   &.bg-primary{
      background-color: $bg-purple !important;
   }
   .titulo{
      margin: 220px 0;
      @media all and (min-width: 1500px) {
         padding-left: 750px;
      }
   }
}